/* TODO: FOR BUGFIXING */
/* * { border: 2px solid red} */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  min-height: 100vh;
  background-color: black;
}


/* ---- navigator ---- */
.navigatorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.title {
  color: white;
  align-self: center;

  font-size: 3rem;
}

.navigatorBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  justify-content: space-around;
}

.navigatorButton {
  color: white;
  cursor: pointer;
}

.navigatorButton:hover {
  color: grey;
}

/* ---- body ---- */

.bodyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
}

.bodyElementTitle {
  color: white;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- login --- */

.loginTitle {
  color: white;
  font-size: 3rem;
}

.pleaseLogin {
  color: white;
  font-size: 2rem;
}

.inputButton {
  color: white;
  cursor: pointer;
  border: 1px white solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fullPageBreak {
  width: 90%;
}

/* --- profile --- */

.profileInfo {
  color: white;
}

/* --- rules --- */
.rulesText {
  color: white;
}